<!-- Footer Container -->
<div class="footer">
  <div class="footer-content">
    <!-- Contact Links -->
    <div class="contact">
      <div class="mb-4">
        <img src="../assets/images/brand.png" class="mb-4 brand-img" />
        <h5>{{ "footer.main.contact.ct" | translate }}</h5>
        <span class="color-light-green sub-txt">
          {{ "footer.main.contact.subTxt" | translate }}
        </span>
      </div>
      <div class="mb-4 list-content">
        <div class="d-flex mb-2">
          <svg-icon
            class="mx-1 color-light-green"
            src="../assets/images/svg/envelop.svg"
          ></svg-icon>
          <p>{{ "footer.main.contact.emailAddress" | translate }}</p>
        </div>
        <div class="d-flex">
          <svg-icon
            class="color-light-green mx-1"
            src="../assets/images/svg/phone.svg"
          ></svg-icon>
          <p>{{ "footer.main.contact.phone" | translate }}</p>
        </div>
      </div>
      <!-- Social Media Links -->
      <div class="d-flex">
        <a>
          <svg-icon src="../../../assets/images/svg/facebook.svg"></svg-icon>
        </a>
        <a>
          <svg-icon
            class="mx-1"
            src="../../../assets/images/svg/twitter.svg"
          ></svg-icon>
        </a>
        <a>
          <svg-icon
            class="mx-1"
            src="../../../assets/images/svg/skype.svg"
          ></svg-icon>
        </a>
        <a>
          <svg-icon src="../../../assets/images/svg/insta.svg"></svg-icon>
        </a>
      </div>
    </div>
    <!-- Category-->
    <div>
      <h5 class="mb-4">{{ "footer.main.category.~" | translate }}</h5>
      <ul class="list-content">
        <li>
          <a>{{ "footer.main.category.creative" | translate }}</a>
        </li>
        <li>
          <a>{{ "footer.main.category.film" | translate }}</a>
        </li>
        <li>
          <a>{{ "footer.main.category.graphic" | translate }}</a>
        </li>
        <li>
          <a>{{ "footer.main.category.ui" | translate }}</a>
        </li>
        <li>
          <a>{{ "footer.main.category.business" | translate }}</a>
        </li>
        <li>
          <a>{{ "footer.main.category.marketing" | translate }}</a>
        </li>
      </ul>
    </div>
    <!-- Quick Links -->
    <div>
      <h5 class="mb-4">{{ "footer.main.quick-links.~" | translate }}</h5>
      <ul class="list-content">
        <li>
          <a>{{ "footer.main.quick-links.privacy" | translate }}</a>
        </li>
        <li>
          <a>{{ "footer.main.quick-links.discuss" | translate }}</a>
        </li>
        <li>
          <a>{{ "footer.main.quick-links.term" | translate }}</a>
        </li>
        <li>
          <a>{{ "footer.main.quick-links.support" | translate }}</a>
        </li>
        <li>
          <a>{{ "footer.main.quick-links.faq" | translate }}</a>
        </li>
      </ul>
    </div>
    <!-- Subscribe -->
    <div>
      <h5 class="mb-4">{{ "footer.main.subscribe.~" | translate }}</h5>
      <span class="list-content">
        {{ "footer.main.subscribe.lorem" | translate }}
      </span>
      <form class="subscribe">
        <input
          type="email"
          class="subscribe-input"
          placeholder="{{ 'footer.main.subscribe.emailHere' | translate }}"
        />
        <button type="button" class="subscribe-button">
          {{ "footer.main.subscribe.buttonSbc" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Footer Bottom -->
<div class="footer-bottom">
  <div class="footer-bottom-content">
    <div class="d-flex">
      <a>{{ "footer.bottom.term" | translate }}</a>
      <span>*</span>
      <a>{{ "footer.bottom.privacy" | translate }}</a>
      <span>*</span>
      <a>{{ "footer.bottom.sitemap" | translate }}</a>
      <span>*</span>
      <a>{{ "footer.bottom.security" | translate }}</a>
    </div>
    <div class="d-flex align-items-center">
      <span>&#169; {{ "footer.bottom.yearDate" | translate }}</span>
      <span class="color-nature-green">
        {{ "footer.bottom.edule" | translate }}
      </span>
      <span>{{ "footer.bottom.loveWord" | translate }}</span>
      <a class="color-light-green">{{
        "footer.bottom.codecanva" | translate
      }}</a>
    </div>
  </div>
</div>
