<div class="call-to-action d-flex align-items-center gap-5 justify-content-between">
  <div>
    <h5 class="mb-4">{{ "appDownload.ready" | translate }}</h5>
    <h1>{{ "appDownload.download" | translate }}</h1>
    <h1>{{ "appDownload.start" | translate }}</h1>
  </div>
  <div class="d-flex flex-column flex-lg-row">
    <a class="btn btn-light p-4 m-4"
      ><img src="../assets/images/google-play.png"
    /></a>
    <a class="btn btn-light p-4 m-4"
      ><img src="../assets/images/app-store.png"
    /></a>
  </div>
</div>
